/* Reiniciar el navegador para dictar diferencias de esilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* estilos generales del cuerpo de la pagia */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: rgb(91, 4, 109);
    color:rgb(236, 224, 191);
}

/* estilos para el encabezado con degradado */
.site-header{
    background: linear-gradient(90deg, #4b0303,#d40606);
    color: #ececec;
    padding: 2rem;
    text-align: center;

}

.subtitle{opacity: 0.3;
}


.content{
    display: flex; /* coloca las tarjetas una al lado de la otra */
    gap: 4rem; /* separar las tarjetas */
    flex-wrap: wrap; /* permite que las tarjetas bajen si no caben */
    justify-content: center;
    padding: 2rem;
   
}

.card{
    background: #c20000;
    padding: 1.25rem;
    border-radius: 22px;
    box-shadow: 0.6px 18px rgba(209, 33, 33, 0.5);
    width: 300px;
}

.card h2{
    margin-bottom: 0.5rem;
    color: aliceblue;
}

.card p{
    margin-bottom: 1rem;
    color: aliceblue;

}

.btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    background: aliceblue;
    border-radius: 22px;
    color: rgb(255, 0, 76);

}

.card a{
    justify-content: center;
    display: flex;
    text-align: center;
}

.site-footer{
    text-align: center;
    padding: 1rem;
    color: azure;
}

